@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin layoutShadow($dir: 'down') {
    $shadow-rest: 1.2rem rgba(0, 0, 0, .28);
    
    @if $dir == 'up' {
        box-shadow: 0 -0.5rem #{$shadow-rest};
    } @else if $dir == 'down' {
        box-shadow: 0 0.5rem #{$shadow-rest};
    } @else if $dir == 'right' {
        box-shadow: 0.5rem 0 #{$shadow-rest};
    } @else {
        box-shadow: -0.5rem 0 #{$shadow-rest};
    }

}