// COLORS

$color-font: #202020;
$color-font-lighter: #a1a1a1;
$color-main: #78529c;
$color-hilight: #71bb73;

// FONTS

// MISC

$link-transition: color 250ms ease, background-color 250ms ease;

$layout-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, .28);