@use '../variables' as *;
@use '../mixins' as *;

.footer {
    display:flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    min-height: 144px;
    background-color: white;
    @include layoutShadow('up');
    img {
        position: absolute;
        inset: 0;
        margin: auto;
        min-width: 180px;
    }
}
.copyright {
    padding: 1rem 0 1rem 1rem;
    align-self: flex-end;
    color: $color-font;
}

footer span{
    color: rgb(25, 125, 255);
}


.footer-links {
    height:100%;
    display: flex;
    align-items:flex-end;
    padding: 1rem 1rem 1rem 0;
    gap: .5rem;
    li {
        transition: $link-transition;
        color: $color-font-lighter;
        cursor: pointer;
        &:hover {
            color: $color-font;
        }
    }
} 

@media screen and (max-width:480px) {
    .footer img {
        margin: 0;
        margin-right: auto;
        padding: 1rem;
    }
    .footer-links {
        flex-direction: column;
    }
}