@use '../variables' as *;
@use '../mixins' as *;

.navigation {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    height: 100%;
    flex: 0 0 10%;
    background-color: $color-main;
    background-image: url('../../images/navigation-bg.png');
    background-blend-mode: exclusion;
    border-right: 2px solid $color-font-lighter;
}

.nav-logo {
    @include flex-center;
    flex: 0 0 120px;
    padding: 2rem;
    margin-top: 1rem;
    img {
        min-width: 180px;
    }
}
.nav-links {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 6rem;
    
    font-size: 2rem;
    li {
        padding: 1rem;
        a {
            transition: $link-transition;
            text-align: left;
            color: #efe2fb;
            text-decoration: none;
            &:hover {
                color: $color-hilight;
            }
        }
    }
}